.avatar-container {
  text-align: center;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.avatar-img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.inner-input {
  margin-bottom: 10px;
  width: 90%;
}
